
 
    
    <ul class=" list-group  list-group-flush" >    
        <h2 class="title  text-center"> " Horarios Camioncito "  </h2>   
       <li class="list-group-item"> <time >6: 45 </time>  </li>  
       <li class="list-group-item"> <time >7: 10</time> </li>   
       <li class="list-group-item"> <time> 7: 30</time></li>
       <li class="list-group-item"> <time> 7: 45 </time></li>
       <li class="list-group-item"> <time> 8: 00 </time>  </li>
       <li class="list-group-item"> <time> 8: 10 </time> </li>
       <li class="list-group-item"> <time> 8: 20</time> </li>
       <li class="list-group-item"> <time> 8: 30 </time> </li>
       <li class="list-group-item"> <time> 8: 40 </time> </li>
       <li class="list-group-item"> <time> 8: 50 </time> </li>
       <li class="list-group-item"> <time> 9: 00 </time> </li>
       <li class="list-group-item"> <time> 9: 15 </time>  </li>
    </ul>  
            
  
 <ul class="list-group list-group-flush"  >
    <h4 class="title text-center">Tarde </h4>
   <li class="list-group-item"> <time>    12: 00 </time> </li>
   <li class="list-group-item">  <time>    12: 15 </time> </li>
   <li class="list-group-item">  <time>    12: 30 </time> </li>
   <li class="list-group-item">  <time> 12: 45 </time> </li>
   <li class="list-group-item">  <time>  1: 00 </time> </li>
</ul>
  
  
<ul class="list-group list-group-flush" >  
    <h4 class="title  text-center" > Vuelta </h4>    
 <li class="list-group-item">  <time>     1: 15 </time> </li>
 <li class="list-group-item">  <time>     1: 30 </time> </li>
 <li class="list-group-item">  <time> 1: 45 </time> </li>
 <li class="list-group-item">  <time> 2: 00 </time> </li>
 <li class="list-group-item">  <time> 2: 15 </time> </li>
 <li class="list-group-item">  <time> 4: 00 </time> </li>
 <li class="list-group-item">  <time> 4: 30 </time> </li>
 <li class="list-group-item">  <time> 4: 50 </time> </li>
 <li class="list-group-item">  <time> 5: 00 </time>  </li>
 <li class="list-group-item"> <time> 5: 10 </time>   </li>         
 <li class="list-group-item"> <time> 5: 20 </time>   </li>         
 <li class="list-group-item"> <time> 5: 30 </time>        </li>    
 <li class="list-group-item"> <time> 5: 40 </time>    </li>       
  <li class="list-group-item"> <time> 5: 50 </time>   </li>        
  <li class="list-group-item"> <time> 6: 00 </time>   </li>        
  <li class="list-group-item"> <time> 6: 15 </time>   </li>        
  <li class="list-group-item"> <time> 6: 30 </time>   </li>                                             
  <li class="list-group-item"> <time> 7: 00 </time>      </li>      


</ul>
