<h1 class="h1 text-center">GODINE'S PLACE </h1>
<ul class=" list-group-flush" >    
    <li class="list-group-item"> Amenity (smoothies and sandwiches)  </li> 
    <li class="list-group-item"> Doña Tota  </li> 
    <li class="list-group-item"> Siber  </li> 
    <li class="list-group-item"> Oxxo  </li>
    <li class="list-group-item"> Ham y Cheese  </li>
    <li class="list-group-item"> Ave. del Mar  </li>
    <li class="list-group-item">  Corner Deli  </li>
    <li class="list-group-item"> NearMed  </li>
    <li class="list-group-item"> Axxa Seguros  </li>
    <li class="list-group-item"> The Times  </li>
    
  <li class="list-group-item">  </li>
  <h3 class="h3 text-center">Also Available  </h3>
  <li class="list-group-item"> Super Fitness  </li>
  <li class="list-group-item"> Starbucks  </li>
  <li class="list-group-item"> Robbie's  </li>
  <h2 class="h2 text-center"> Food Places   </h2>
  <li class="list-group-item"> Cafeteria at the park  </li>
  <li class="list-group-item"> Cafeteria 2  </li>
</ul>  

  
  <!-- white
  <div id="list2">
      <ol>
 <li><p> Todo Empanadas</p></li>  
  <li><p>Doña Tota</p></li>   
  <li><p>Siber</p></li>
  <li><p>Oxxo</p></li>
  <li><p> Ham y Cheese</p></li>
  <li><p> Ave. del Mar</p></li>
  <li><p> Corner Deli</p></li>
  <li><p> NearMed</p></li>
  <li><p> Corner Deli</p></li>
  <li><p> Axxa Seguros</p></li>
  <li><p> NearMed</p></li>
  <li><p> The Times</p></li>
</ol>
</div>

  <div id="list2">
      <ol>
         <li><p>Super Fitness</p></li>
         <li><p>Starbucks</p></li>
         <li><p>FoodPlace</p></li>
         <li><p>Cafeteria at the park</p></li>
         <li><p>Cafeteria 2</p></li>
        
      </ol>
   </div> -->




   <!-- B L A C K
   <div id="list2">
      <ol>
          <li class="list-group-item"><p>Todo Empanadas</p></li>
          <li class="list-group-item"><p>Doña Tota</p></li>
          <li class="list-group-item"><p>Siber</p></li>
          <li class="list-group-item"><p>Oxxo</p></li>
          <li class="list-group-item"><p>Ham y Cheese</p></li>
          <li class="list-group-item"><p>Ave. del Mar</p></li>
          <li class="list-group-item"><p>Corner Deli</p></li>
          <li class="list-group-item"><p>Axxa Seguros</p></li>
          <li class="list-group-item"><p>NearMed</p></li>
          <li class="list-group-item"><p>The Times</p></li>
 

        </ol>
      </div>

   <div id="list2">
      <ol>
         <li class="list-group-item" ><p>Super Fitness</p></li>
         <li class="list-group-item"><p>Starbucks</p></li>
         <li class="list-group-item"><p>FoodPlace</p></li>
         <li class="list-group-item"><p>Cafeteria at the park</p></li>
         <li class="list-group-item"><p>Cafeteria 2</p></li>
      </ol>
   </div> -->