
<h1 class="h1 text-center">Know one of the servies available </h1>
<!-- <ul class=" list-group-flush" >       
  <li class="list-group-item"> Yes. We have medical service available  </li>  
  <li class="list-group-item">Location  : </li>
 <br>
    <p>  T1, ask reception and they will get you the medicalm contact</p>   
  <li class="list-group-item">It's Free</li> 
  
  
</ul>   -->


<div class="card text-center">
    <div class="card-header">
      Medical Service
    </div>
    <div class="card-body">
      <h5 class="card-title">Location</h5>
      <p class="card-text"> T1, ask reception and they will get you the medicalm contact .</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
    <div class="card-footer text-muted">
        It's Free!
    </div>
  </div>