.h1,  {
    color: rgb(191, 154, 89);
    text-shadow: 3px 2px rgba(208, 255, 0, 0.822);
}
.card-header{
    color: orange;
    font-size: 155%
}


.list-group-item, .p{
    background-color: #AA9D87;
}