.h1{
    font-family: 'Stencil Std';
        color: rgb(233, 41, 115);
        border: 3px rgb(166, 238, 10) outset;
        box-shadow: 6px 6px 6px #0A6755;

      
}


.list-group-flush, .list-group-item{
    background-color: #0A6755;
    color: #869D10;
}
 

.p{
    color: rgb(189, 139, 21);
}