
.list-group-flush,  {

    color: rgb(35, 193, 35)
}


.h1, .list-group-flush {
   background-color: #d2cabf82; 
}


.list-group-item
{
    background-color: rgba(218, 228, 228, 0.948)
}

.h1{
    color: #F53E53;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}