
 <head>
    <link rel=”Shortcut Icon” href=”favicon.ico” type=”image/x-icon” />
</head>

<div class="jumbotron jumbotron-fluid " style="background-image: url(assets/images/max.jpg); background-size: 100%;">
  <div class="container">
      
    <h1 class="display">HELLO FUTURE SURVIVOR</h1>
    <p class="lead">Now, you have the oportunity to survive in this apocalypse. Think quickly and choose</p>
  </div>
  <div class='col-md-12 bannerB'>
      
    
      <a href="panel" type="button" class="button"   > Click for <strong> Survive</strong> </a>
    </div>

   
   
</div> 

 
