
<!-- <a *ngFor="let hero of heroes" class="col-1-4"
routerLink="/contenido/{{contenido.id}}"> -->

<br>
<div class = 'container'> 
  

    <head>
        <link rel=”Shortcut Icon” href=”favicon.ico” type=”image/x-icon” />
 </head>


<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark ">
<button class="navbar-toggler" type="button"  data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>

  <a class="navbar-brand" href="#">
    <img src="/assets/images/consola.png" width="40" height="40" class="d-inline-block align-top" alt="">
    Godinez's Survival
  </a>

<!--Nav con opiones -->

<nav class="nav flex-column "  >
  <a class="nav-link disabled" href="#">Information Panel  </a>
  <a class="nav-link" href="contenido"> <img src="/assets/images/camion30.png" width="30"> Bus Schedule  </a>  
  <a class="nav-link" href="contractor"><img src="/assets/images/company30.png" width="30">Contractor Company</a>
  <a class="nav-link" href="parking"><img src="/assets/images/docs30.png" width="30">Parking Documents</a>
  <a class="nav-link" href="link"><img src="/assets/images/ethernet.png" width="30">Initiative</a>
  <a class="nav-link" href="hr"><img src="/assets/images/hr30.png" width="30">HR Phones</a>
  <a class="nav-link" href="link"><img src="/assets/images/tool.png" width="30">Create Ticket </a>
  <a class="nav-link" href="close"><img src="/assets/images/restaurant30.png" width="30"  >Close to you</a> 
  <a class="nav-link" href="atm"><img src="/assets/images/atm.png" width="30">ATMs</a>
  <a class="nav-link" href="link"> <img src="/assets/images/summer30.png" width="30">Holidays</a>
  <a class="nav-link" href="medic"><img src="/assets/images/doctor.png" width="30">Medical Services</a>
  <a class="nav-link" href="link"><img src="/assets/images/info30.png" width="30"More inf>More Info</a>

</nav>
