


<div class="it-wrapper text-center " ><h1>  Parking Documents . All you need to get a parking place  </h1> </div>
 
<ul class=" list-group-flush" >       
  <li class="list-group-item"> IFE  </li>  
  <li class="list-group-item">Circulation Card</li>   
  <li class="list-group-item"> You need a copy from everything  </li>

</ul>  

  <div class="card">
      <div class="card ">
          Note:
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p> Remember, the parking place than you will get, one of them is available
          at Galerias</p>
          <footer class="blockquote-footer">Second one are available close to an hotel  <cite title="Source Title">(need to ask)</cite></footer>
        </blockquote>
      </div>
    </div>

 


    